<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>MUwebNET :: @ViewBag.Title</title>
    <meta name="author" content="Webzen">
    <meta name="keywords" content="MU, MU online">
    <meta name="description" content="Private MU Online server">
    <link type="text/css" rel="stylesheet" href="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/css/style.css")">
    <link type="text/css" rel="stylesheet" href="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/css/gnb.css")">
    <link type="text/css" rel="stylesheet" href="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/css/toastr.css")">
    <link href="~/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <style>
        body, a { cursor: url('@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/Cursor/MU.cur")'),auto; }
        a:hover { cursor: url('@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/Cursor/MU_hover.cur")'),auto; }
    </style>
    <script src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Scripts/jquery-1.10.2.js")"></script>
    <script src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Scripts/main.min.js")"></script>
    <script src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Scripts/core_global.js")"></script>
    <script src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Scripts/toastr.min.js")"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    <header id="header-top">
        <div class="g_Line_left"></div>
        <div class="g_Line_right"></div>
        @Html.Partial("Partials/ServerTimePartial")
    </header>
    <div id="siteVisualWrap" class="main-container">
        <div id="siteVisualConts">
            <div class="G_ContsWrap">
                <div class="visualSpace"></div>
                @Html.Partial("Partials/MenuPartial")
                <div id="contentStart">
                    <section id="gContsBodyWrap">
                        <ul class="location">
                            <li>
                                MUwebNET &nbsp;<span>&gt;</span>
                                @ViewBag.Title
                            </li>
                        </ul>
                        <section class="gContsViewWrap">
                            <div class="tmp_m_content">
                                <div class="tmp_page_content">
                                    @RenderBody()
                                </div>
                            </div>
                        </section>
                        <section class="gContsInfoWrap">
                            <div class="gContsInfoBg">
                                @Html.Partial("Partials/SidebarPartial")
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <div class="f_Line_left"></div>
            <div class="f_Line_right"></div>
            <article class="search">
                <dl class="ContryGo">
                    <dt>Servidor público, gratuito para jogar. O nosso servidor é 100% gratuito, e apenas aceitamos doações para arcar com os gastos e manutenção de hospedagem.</dt>
                </dl>
                <div class="sliceImg">
                <img src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/images/f_line_right_img.gif")" alt=""></div>
            </article>
            <br><br><br>
            <center>
                <img src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/images/footer.png")">
            </center>
            <article class="f_copyright">
                <div><img src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/images/f_logo.gif")" alt="Webzen"></div>
                <small>
                    WEBZEN Inc. Global Digital Entertainment Leader<br>
                    Copyright - WEBZEN, INC. Todos os direitos reservados (c)
                </small>
            </article>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>