@model List<MuwebNET.Models.WebContext.WebSlider>
<link href="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Content/css/jquery.bxslider.css")" rel="stylesheet" />
<script src="@MUwebNET.Web.Framework.HtmlHelperExtensions.UrlTemplateHelper("/Scripts/jquery.bxslider.js")"></script>
<script type="text/javascript">
    $(function () {
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true
        });
    });
</script>
@if (Model.Count() > 0)
{
    <ul class="bxslider">
        @foreach (var item in Model)
        {
            <li><img src="@item.ImageLink" alt="@item.Title" title="@item.Description" /></li>
        }
    </ul>
}
